.bg-darck-blue{
    background-color: #0F1A36;
}
.bord{
    border: solid tomato;
}

.text-color-darck{
    color: #ABA7A7;
}
.hero-container{
    background-image: url(img/bg-hero.png);
    background-size: cover;
}